body {
}

#chat {
    max-width : 200px;
    height: 300px;
    border: solid;
    padding: 10px;
    word-wrap:break-word;
    overflow-y: scroll;
    border-width: thin;
}

#board {
	table-layout:fixed;
	width: 100%;
}

#left-panel {
    float: left;
}

#center-panel {
    float: left;
    margin-left: 30px;
}

.chat-line{
	border-bottom: solid;
    border-width: thin;
}


