body {
    color: blue;
}

#chat {
    max-width : 200px;
    height: 300px;
    border: solid;
    padding: 10px;
    word-wrap:break-word;
    overflow-y: scroll;
}

#board {
	table-layout:fixed;
	width: 100%;
}

.chat-line{
	border-bottom: solid;
    border-width: thin;
}
