@import play.api.mvc.RequestHeader 

@(uuid: String, fen : String)(implicit request: RequestHeader)

<!DOCTYPE html>


<html>
<head>
<title>Chess</title>

</head>
<body data-ws-url="@routes.Application.ws().webSocketURL()" class="bg-primary" >

	<div  id="left-panel" >
		<div id="chat">
			@chat(".") {
	
			}
		</div>
		<div>
			<div>
				<div>
					Usuário @uuid
				</div>
			</div>
			<form id="msgform">
				<div>
					<input id="msgtext" type="text"  class="form-control"
						placeholder="please type a message" maxlength="30" />
				</div>
				<div>
					<button type="submit" class="btn btn-default ">Submit</button>
				</div>
			</form>
		</div>
	</div>
	<div id="center-panel">
		@game(title = "hello"){
			@fen
		}
	</div>

</body>
<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/chessboard-0.3.0.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/chess.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/game.js")'></script>
<link rel="stylesheet" href='@routes.Assets.at("stylesheets/index.css")'/>
<link rel="stylesheet" href='@routes.Assets.at("stylesheets/chessboard-0.3.0.min.css")'/>

</html>
